

.theme-color {
    background-color: #2793ec; 
  }
  @media (max-width: 992px) {
    .flex-responsive {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
    }
  }